.mainStyle {
    display: flex;
    justify-content: center;
}

.calcFrame {
    display: flex;
    border: #166088 solid 5px;
    border-radius: 10px;
    background-color: #4f6d7a;
    padding: 40px 40px;
    max-width: fit-content;
    flex-direction: column;
}

.resultBar {
    background-color: #dbe9ee;
    padding: 10px 10px;
    margin-bottom: 20px;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    min-height: 35px;
}

.buttonRow {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.calcButton {
    background-color: #c0d6df;
    font-size: 30px;
    min-height: 30px;
    min-width: 60px;
}